streamlit
pandas
plotly
scikit-learn
numpy
sqlalchemy
psycopg2-binary
python-dotenv
geopandas
shapely
statsmodels
matplotlib
pandasai<3.0.0
google-generativeai
sqlglot
astor
duckdb
faker
openai
pydantic